In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
uid_list = pd.read_csv('finalized_2788bloggers.csv')

In [2]:
uid_list.head()

,id,name,uid,gender,region,tag,follows,fans,posts
0,1,小米苏酥,87768787,female,海外,NaN,594,510000,10000
1,2,萌大雨YUYU,1011269330,female,其他,"时尚达人, 知名美妆博主, 时尚美妆视频自媒体",57,3870000,1343
2,3,missfaye,1032937413,female,北京,"时尚达人, 知名时尚博主, 微博尤物志合作达人",1467,800000,20000
3,4,kittywenny,1036701494,female,上海,"资深时尚美容达人, 微博尤物志合作达人, 微博vlog博主, 微博签约自媒体",986,1390000,7502
4,5,羽晗winnie,1039619890,female,北京,"知名旅行玩家美食达人, 微博vlog博主, 知名时尚博主, 头条文章作者, 微博签约自媒体",321,3940000,1195

In [3]:
# check the number of bloggers whose posts haven't been crawled for multiple reasons

nopost_uid = {}

for i in tqdm(range(len(uid_list)//200+1)):
    tmp = []
    
    if i != 13:
        sub_list = uid_list['uid'][i*200:(i+1)*200] 
    else:
        sub_list = uid_list['uid'][i*200:]
        
    for uid in sub_list:
        
        path = str(i) + '/' + str(uid) + '/' + str(uid) + '.csv'
        
        try:
            test = pd.read_csv(path)
        except:
            tmp.append(uid)
            
        nopost_uid[i] = tmp

 71%|███████▏  | 10/14 [00:15<00:06,  1.50s/it]/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (5,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
100%|██████████| 14/14 [00:22<00:00,  1.62s/it]

In [4]:
# update the blogger uid lists

for i in tqdm(range(14)):
    inpath = 'uid_list/uid_list' + str(i) + '.csv'
    tmp = pd.read_csv(inpath, header = None)
    tmp.columns = ['uid']
    
    rmvlst = nopost_uid[i]
    
    for j in rmvlst:
        tmp = tmp[~tmp['uid'].isin([j])]
        
    outpath = 'final_uid_list/final_uid_list' + str(i) + '.csv'
    tmp.to_csv(outpath, header = None)

100%|██████████| 14/14 [00:00<00:00, 112.58it/s]