In [13]:
import pandas as pd

In [14]:
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = 'all'

In [15]:
num_list = [0,100,200,300,400,500,600,708]
data_total = pd.DataFrame()

for i in range(len(num_list)-1):
    path = 'data_' + str(num_list[i]) + '-' + str(num_list[i+1]) + '.csv'
    data = pd.read_csv(path)
    data_total = pd.concat([data_total,data])

In [16]:
num_list = [0,100,200,300,400,500,600,708]
rmv_total = pd.DataFrame()
for i in range(len(num_list)-1):
    path = 'rmv_' + str(num_list[i]) + '-' + str(num_list[i+1]) + '.csv'
    data = pd.read_csv(path)
    rmv_total= pd.concat([rmv_total,data])

In [17]:
data_total = data_total.loc[:, ~data_total.columns.str.contains('^Unnamed')]
data_total.head()
len(data_total)

rmv_total = rmv_total.loc[:, ~rmv_total.columns.str.contains('^Unnamed')]
rmv_total.head()
len(rmv_total)

,name,uid,gender,region,tag,follows,fans,posts,brandsCN,brandsEN
0,井田志Gridnote,5619422243,male,北京,['原本一生（北京）商业有限公司'],363,3487,494,井田,CANMAKE
1,宝拉珍选PaulasChoice,2040921197,female,上海,['美国宝拉珍选化妆品官方微博'],271,26万,7286,宝拉珍选,PAULA‘S CHOICE
2,理肤泉larocheposay,2051652844,female,海外,"['理肤泉larocheposay', '官方微博']",68,20万,6883,理肤泉,LAROCHE POSAY
3,红门雅顿,1791154147,female,海外,['伊丽莎白雅顿官方微博'],268,25万,1万,雅顿,ELIZABETH ARDEN
4,Curel珂润,2460538310,female,海外,['花王Curel珂润官方微博'],149,6万,6928,珂润,CUREL

517

    CN                       EN
0  NaN                   MILANI
1  NaN                   LACURA
2  NaN                 SMASHBOX
3  NaN               SANA EXCEL
4  NaN  MARIO BADESCU SKIN CARE

142

In [18]:
rmv_total.to_csv('rmv_total.csv', encoding = 'utf_8_sig')
data.to_csv('total_data.csv', encoding = 'utf_8_sig')

In [21]:
brands = pd.read_csv('708brands.csv', index_col = 0)
brands.head()

            brand_name            brand_name_split brandCN         brandEN
0           canmake/井田           ['canmake', '井田']      井田         canmake
1                SUQQU                   ['SUQQU']     NaN           SUQQU
2                three                   ['three']     NaN           three
3  Paula‘s Choice/宝拉珍选  ['Paula‘s Choice', '宝拉珍选']    宝拉珍选  Paula‘s Choice
4    Laroche Posay/理肤泉    ['Laroche Posay', '理肤泉']     理肤泉   Laroche Posay

In [24]:
list_cn = data_total['brandsCN'][pd.notnull(data_total['brandsCN'])].tolist() + rmv_total['CN'][pd.notnull(rmv_total['CN'])].tolist()
list_en = data_total['brandsEN'][pd.notnull(data_total['brandsEN'])].tolist() + rmv_total['EN'][pd.notnull(rmv_total['EN'])].tolist()

In [25]:
list_loss = []
for i in range(len(brands)):
    result = 0
    lost_dict = {}
    
    if pd.isnull(brands['brandCN'][i]):
        result += 1
    else:
        if brands['brandCN'][i] not in list_cn:
            result += 1
            
    if pd.isnull(brands['brandEN'][i]):
        result += 1
    else:
        if brands['brandEN'][i] not in list_en:
            result += 1
            
    if result == 2:
        lost_dict['brandCN'] = brands['brandCN'][i]
        lost_dict['brandEN'] = brands['brandEN'][i]
        list_loss.append(lost_dict)

In [27]:
df_loss = pd.DataFrame(list_loss)
df_loss.head()
len(df_loss)

  brandCN brandEN
0     NaN   three
1     NaN  rimmel
2     NaN  Milani
3     NaN  blings
4     NaN  lacura

177